---
name: test

# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: test-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

permissions: {}

jobs:
  build_and_test:
    name: build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5
        with:
          persist-credentials: false
      - name: clean up cargo bin dir for rustup
        run: |
          rm "${HOME}"/.cargo/bin/cargo-fmt
          rm "${HOME}"/.cargo/bin/rust-analyzer
          rm "${HOME}"/.cargo/bin/rustfmt
      - name: Install OS-level dependencies
        run: sudo apt-get install -y --no-install-recommends libgsl-dev
      - name: Update Rust
        run: rustup update "${RUST_TOOLCHAIN}" && rustup default "${RUST_TOOLCHAIN}"
        env:
          RUST_TOOLCHAIN: ${{ matrix.toolchain }}
      - name: Build
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
